#header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#wrapper {
  display: flex;
  justify-content: center;
}

#flex-wrapper {
  display: flex;
  max-width: 1600px;
  flex-grow: 1;
  padding: 0 1rem;
}

label {
  color: #6176b4;
  font-weight: bold;
  display: block;
  padding-bottom: 3px;
}

textarea {
  width: 95%;
  height: 4em;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: .5em;
  border: 1px solid #6176b4;
  border-radius: 4px;
  margin: 0 1em 1em 0;
}

button {
  padding: .6em 1em;
  border: 1px solid #6176b4;
  background-color:#a4c4ff;
  border-radius: 6px;
  font: inherit;
  cursor: pointer;
}

#create-puzzle {
  flex: 1;
}

#puzzles {
  flex: 1;
}

.puzzle {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.solved {
  background-color: #d9ecda;
}

.unsolved {
  background-color: #c5d6f3;
}

.puzzle-group {
  margin-bottom: 1em;
}

.puzzle-label {
  color: #282c34;
  font-weight: bold;
  padding-bottom: 3px;
}