#header {
  background-color: #282c34;
  min-height: calc(20px + 10vmin);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-wrap {
  width: 100%;
  margin: 0 2rem;
  max-width: 1600px;
}

#logo {
  height: calc(20px + 6vmin);
}

#wrapper {
  display: flex;
  justify-content: center;
}

#flex-wrapper {
  display: flex;
  max-width: 1600px;
  flex-grow: 1;
  padding: 0 2rem;
  column-gap: calc(20px + 3vw);
}

label {
  color: #6176b4;
  font-weight: bold;
  display: block;
  padding-bottom: 3px;
}

textarea {
  width: 95%;
  height: 4em;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: .5rem;
  border: 1px solid #6176b4;
  border-radius: 4px;
  margin: 0 1em 1em 0;
  height: 1rem;

}

button {
  padding: 0 1em;
  height: 2.1rem;
  border: 1px solid black;
  background-color:#444;
  color: #ddd;
  border-radius: 6px;
  font-weight: bold;
  font-size: .75em;
  cursor: pointer;
}

#create-puzzle {
  flex: 1;
}

#create-puzzle button {
  border: 1px solid #6176b4;
  background-color:#a4c4ff;
  color: #282c34;
}

#puzzles {
  flex: 1;
}

.puzzle {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.puzzle form {
  display: flex;
  align-items: flex-start;
}

.solved {
  background-color: #d9ecdabb;
}

.unsolved {
  background-color: #c5d6f399;
}

.puzzle-group {
  margin-bottom: 1em;
}

.puzzle-label {
  color: #282c34;
  font-weight: bold;
  padding-bottom: 3px;
}